# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.cache
*.dbmdl
*.ipch
*.aps
*.ncb
*.sbr
*.scc
*.vssscc
*.vsscc
*.psess
*.vsp
*.vsix
*.docstates
*.lastcodeanalysissucceeded
*.vsidx

# Build output
x64/
*.obj
*.pdb
*.log
*.tlog
*.idb
*.ipdb
*.iobj
*.ilk
*.exp
*.tlb
*.tli
*.tlh
*.bak
*.bsc
*.res
*.tmp
*.dll
*.exe
*.lib
*.manifest
*.pch
*.rsp
*.map
*.bin
*.lastbuildstate
*.tlog
*.recipe

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
log_all.txt
log_otp_correct_malicious.txt
log_otp_incorrect.txt

# Others
*.publish.xml
*.pfx
*.db
*.cachefile
*.sln.docstates
*.suo
*.sdf
*.cache
*.dbmdl
*.dbproj.schemaview
*.psess
*.vsp
*.vsix
*.docstates
*.lastcodeanalysissucceeded
*.vsidx 