# Visual Studio
.vs/
*.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ipch
*.obj
*.pch
*.tlog
*.log
*.cache
*.ilk
*.pdb
*.exe
*.dll
*.ncb
*.aps
*.iobj
*.ipdb
*.idb
*.opensdf
*.sdf
*.sbr
*.scc
*.vssscc
*.vsscc
*.CodeAnalysisLog.xml
[Bb]in/
[Oo]bj/
TestResults/
out/
build/
